server:
  port: 8081

spring:
  application:
    name: customer
  datasource:
    url: jdbc:mysql://localhost:3306/customer_management
    username: root
    password:

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        enable_lazy_load_no_trans: true
        format_sql: true